# Main pandas functions

In [1]:
import pandas as pd
import numpy as np

from pathlib import Path 
path = Path().absolute().parent.parent.parent.parent / 'resources' / 'data' / 'bestsellers with categories.csv'

In [2]:
df = pd.read_csv(path)

In [3]:
df.head(10)  # get the fisrt n rows
df.tail(10)  # get the last n rows

,Name,Author,User Rating,Reviews,Price,Year,Genre
540,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
541,Wonder,R. J. Palacio,4.8,21625,9,2014,Fiction
542,Wonder,R. J. Palacio,4.8,21625,9,2015,Fiction
543,Wonder,R. J. Palacio,4.8,21625,9,2016,Fiction
544,Wonder,R. J. Palacio,4.8,21625,9,2017,Fiction
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [4]:
df.info()  # get the info of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [5]:
# df.describe()  # get the description of the dataframe
df.groupby(['Genre', 'Author']).describe()  # get the description of the dataframe by group

                             User Rating                                      \
                                   count      mean       std  min   25%  50%
Genre       Author
Fiction     Abraham Verghese         2.0  4.600000  0.000000  4.6  4.60  4.6
            Adam Mansbach            1.0  4.800000       NaN  4.8  4.80  4.8
            Adir Levy                1.0  4.800000       NaN  4.8  4.80  4.8
            Alan Moore               1.0  4.800000       NaN  4.8  4.80  4.8
            Alex Michaelides         1.0  4.500000       NaN  4.5  4.50  4.5
...                                  ...       ...       ...  ...   ...  ...
Non Fiction Tucker Carlson           1.0  4.800000       NaN  4.8  4.80  4.8
            W. Cleon Skousen         1.0  4.800000       NaN  4.8  4.80  4.8
            Walter Isaacson          3.0  4.566667  0.057735  4.5  4.55  4.6
            William Davis            2.0  4.400000  0.000000  4.4  4.40  4.4
            Zhi Gang Sha             2.0  4.600000  0.000000  4.6  4.60  4.6

                                       Reviews                ...  Price  \
                              75%  max   count          mean  ...    75%
Genre       Author                                            ...
Fiction     Abraham Verghese  4.6  4.6     2.0   4866.000000  ...  11.00
            Adam Mansbach     4.8  4.8     1.0   9568.000000  ...   9.00
            Adir Levy         4.8  4.8     1.0   8170.000000  ...  13.00
            Alan Moore        4.8  4.8     1.0   3829.000000  ...  42.00
            Alex Michaelides  4.5  4.5     1.0  27536.000000  ...  14.00
...                           ...  ...     ...           ...  ...    ...
Non Fiction Tucker Carlson    4.8  4.8     1.0   3923.000000  ...  16.00
            W. Cleon Skousen  4.8  4.8     1.0   1680.000000  ...  12.00
            Walter Isaacson   4.6  4.6     3.0   6222.666667  ...  20.50
            William Davis     4.4  4.4     2.0   7497.000000  ...   6.00
            Zhi Gang Sha      4.6  4.6     2.0    128.500000  ...  14.25

                                    Year                                 \
                               max count         mean       std     min
Genre       Author
Fiction     Abraham Verghese  11.0   2.0  2010.500000  0.707107  2010.0
            Adam Mansbach      9.0   1.0  2011.000000       NaN  2011.0
            Adir Levy         13.0   1.0  2019.000000       NaN  2019.0
            Alan Moore        42.0   1.0  2009.000000       NaN  2009.0
            Alex Michaelides  14.0   1.0  2019.000000       NaN  2019.0
...                            ...   ...          ...       ...     ...
Non Fiction Tucker Carlson    16.0   1.0  2018.000000       NaN  2018.0
            W. Cleon Skousen  12.0   1.0  2009.000000       NaN  2009.0
            Walter Isaacson   21.0   3.0  2013.333333  3.214550  2011.0
            William Davis      6.0   2.0  2012.500000  0.707107  2012.0
            Zhi Gang Sha      17.0   2.0  2011.000000  2.828427  2009.0


                                  25%     50%      75%     max
Genre       Author
Fiction     Abraham Verghese  2010.25  2010.5  2010.75  2011.0
            Adam Mansbach     2011.00  2011.0  2011.00  2011.0
            Adir Levy         2019.00  2019.0  2019.00  2019.0
            Alan Moore        2009.00  2009.0  2009.00  2009.0
            Alex Michaelides  2019.00  2019.0  2019.00  2019.0
...                               ...     ...      ...     ...
Non Fiction Tucker Carlson    2018.00  2018.0  2018.00  2018.0
            W. Cleon Skousen  2009.00  2009.0  2009.00  2009.0
            Walter Isaacson   2011.50  2012.0  2014.50  2017.0
            William Davis     2012.25  2012.5  2012.75  2013.0
            Zhi Gang Sha      2010.00  2011.0  2012.00  2013.0

[250 rows x 32 columns]

In [6]:
df.memory_usage()  # get the memory usage of the dataframe in bytes

Index           128
Name           4400
Author         4400
User Rating    4400
Reviews        4400
Price          4400
Year           4400
Genre          4400
dtype: int64

In [7]:
df['Name'].value_counts()  # get the number of occurences of each value in the column

Publication Manual of the American Psychological Association, 6th Edition       10
StrengthsFinder 2.0                                                              9
Oh, the Places You'll Go!                                                        8
The Very Hungry Caterpillar                                                      7
The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change     7
                                                                                ..
Humans of New York : Stories                                                     1
Howard Stern Comes Again                                                         1
Homebody: A Guide to Creating Spaces You Never Want to Leave                     1
Have a Little Faith: A True Story                                                1
Night (Night)                                                                    1
Name: Name, Length: 351, dtype: int64

In [8]:
# sort values by a column
df.sort_values(by='Price', ascending=False)  # most expensive books -> least expensive books

,Name,Author,User Rating,Reviews,Price,Year,Genre
69,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2013,Non Fiction
70,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2014,Non Fiction
473,The Twilight Saga Collection,Stephenie Meyer,4.7,3801,82,2009,Fiction
151,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,5867,54,2016,Non Fiction
346,The Book of Basketball: The NBA According to T...,Bill Simmons,4.7,858,53,2009,Non Fiction
...,...,...,...,...,...,...,...
116,Frozen (Little Golden Book),RH Disney,4.7,3642,0,2014,Fiction
71,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,4.8,6812,0,2013,Fiction
505,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2013,Fiction
506,To Kill a Mockingbird,Harper Lee,4.8,26234,0,2014,Fiction
358,The Constitution of the United States,Delegates of the Constitutional,4.8,2774,0,2016,Non Fiction